
/*div,footer,header,p{
    border: solid 1px red;
}*/

body{
    background-color:#73808C;
    color:#D1D1D1;
    font-family:'Consolas';
}


.wrapper{
    position: relative;
    top: 55px;
    min-height: 100%;
    min-width: 600px;
}
.wrapper_conteiner {
    display: flex;
    flex-direction: column;
    margin:0px auto;
    padding: 0px 5px;

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

}
.header:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #73808C;
}
.container {

}
.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.header_burger {
    display: none;
}
.header_menu {}



.header_list {
    display: flex;
    position: relative;
    right: 0;
    z-index: 2;
}
.header_list li{
    list-style: none;
    margin: 0px 5px 0px 20px;

}
.header_link {
    color:#D1D1D1;
    text-transform: uppercase;
    font-size:18px;
    text-decoration: none;
    font-family:'Consolas';
}


@media (max-width: 768px){
    body.lock{
        overflow: hidden;
    }
    .header_body {
        height: 40px;
    }
    .header_link {
        font-size: 24px;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,
    .header_burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before{
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }
    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 95%;
        overflow: auto;
        background-color: #73808C;
        padding:70px 10px 20px 10px;
        transition: all 0.3s ease 0s;

    }
    .header_menu.active{
        top:0;
    }
    .header_list{
        display: block;
    }
    .header_list li{
        margin:0px 0px 20px 0px;
    }
    .header_burger.active span{
        transform: scale(0);

    }
    .header_burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
.conteiner {
    padding-top: 50px;
}
}









.content {
    flex:1 1 auto;
     }
.content_conteiner {
    max-width: 1100px;
    margin:0px auto;
}
.content_body {
    display: flex;
    justify-content: space-between;
    align-items: center;}
.foto {
    width: 330px;
    height: 550px;
    background-color: #D1D1D1;
}
.foto_img img{
    position: relative;
    top: 14px;
    left: 14px;
    width: 300px;
}
.foto_text{
    width: 250px;
    height: 70px;
    margin: 0px auto;
}
.foto_text p{
    text-align: center;
    font-size: 19px;
    color: #252525;
}
.text2 {
    text-align: center;
    font-size: 22px;
    line-height: 150%;
}

mark{
    color:#D1D1D1;
    background-color: #252525;
}
.text1{
    position: relative;
    top: -80px;
    left: 20px;
    font-size: 24px;
}


.footer {
    position: relative;
    top: 80px;
    height: 60px;
    background-color: #D1D1D1;}
.footer_conteiner {
;
}
.footer_body {
      position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.icons ul{
     position: relative;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}
.icons ul li{
       list-style: none;
    margin: 0px 0px 0px 20px;
}
.icons ul li a img{
    width: 35px;

}
.footer_text p{
    color: #252525;
}




@media (max-width: 768px){
    .content_body {
        flex-direction: column;
    }
    .wrapper{
        top: 90px;
    }
    .text1{
        top: 40px;
        left: -5px;
        margin: 0px auto;
    }
    .text2{
        position: relative;
        top: 60px;
    }
    .footer{
        top: 150px;
    }
}
@media (max-width: 415px){
    .wrapper{
        top: 55px;
    }
    .foto {
    width: 400px;
    height: 650px;
}
.foto_img img{
    width: 370px;
}
.foto_text p{
    font-size: 22px;
}
.text2 {
    font-size: 24px;
}
.text1{
    font-size: 26px;
}
    .footer{
        top: 150px;
    }
    .icons{
        position: relative;
        width: 170px;
        left: -30px;
    }
    .icons ul{
        margin-left: -25px;
    }
    .icons ul li a img{
    width: 40px;
    }
    .footer_text{
        width: 170px;
    }
}
@media (max-width: 376px){
    .icons ul li a img{
    width: 35px;
    }
    .footer_text{
        width: 150px;
        font-size: 11px;
    }
    .icons ul li{
        padding-right: -5px;

    }
}